EventAggregatorSample.Input/obj
EventAggregatorSample.Input/[Bb]in
EventAggregatorSample.Input/[Dd]ebug
EventAggregatorSample.Input/[Rr]elease
EventAggregatorSample.Infrastructure/obj
EventAggregatorSample.Infrastructure/[Bb]in
EventAggregatorSample.Infrastructure/[Dd]ebug
EventAggregatorSample.Infrastructure/[Rr]elease
EventAggregatorSample.Output1/obj
EventAggregatorSample.Output1/[Bb]in
EventAggregatorSample.Output1/[Dd]ebug
EventAggregatorSample.Output1/[Rr]elease
EventAggregatorSample.Output2/obj
EventAggregatorSample.Output2/[Bb]in
EventAggregatorSample.Output2/[Dd]ebug
EventAggregatorSample.Output2/[Rr]elease
